$my-emojis: (
  '🕛',
  '🕐',
  '🕑',
  '🕒',
  '🕓',
  '🕔',
  '🕕',
  '🕖',
  '🕗',
  '🕘',
  '🕙',
  '🕚'
) !default;

@mixin emojiLoader(
  $emoji-list,
  $loader-name: emojiLoader,
  $step-duration: 0.05s,
  $prefix: ''
) {

  $emoji-count: length($emoji-list);
  $steps: $emoji-count - 1;
  content: $prefix nth($emoji-list, 1);
  animation: #{$loader-name} #{$step-duration * $emoji-count} steps(#{$steps})
    infinite forwards 0s;

  @keyframes #{$loader-name} {
    @for $e from 1 through $emoji-count {
      $this-percentage: 100 / $emoji-count * ($e - 1);
      #{$this-percentage}% {
        content: $prefix nth($emoji-list, $e);
      }
    }
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &::before {
    position: absolute;
    width: 1em;
    height: 1em;
    left: 50%;
    top: 50%;
    font-size: 5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    @include emojiLoader($my-emojis);
  }
}
