$heartSize: 20px;
$hearColor: #52525b;

.heart {
    background-color: $hearColor;
    width: $heartSize;
    height: $heartSize;
    position: relative;
    transform: rotate(45deg);
    animation: animateHeart 5s infinite;

    &::before,
    &::after {
        content: "";
        width: $heartSize;
        height: $heartSize;
        background-color: $hearColor;
        position: absolute;
        border-radius: 50%;
    }

    &::before {
        left: -($heartSize / 2);
    }

    &::after {
        top: -($heartSize / 2);
    }
}

@keyframes animateHeart {
    0% {
        transform: rotate(45deg) scale(0.8);
    }
    2% {
        transform: rotate(45deg) scale(0.9);
    }
    4% {
        transform: rotate(45deg) scale(0.8);
    }
    6% {
        transform: rotate(45deg) scale(1);
    }
    20% {
        transform: rotate(45deg) scale(0.8);
    }
    100% {
        transform: rotate(45deg) scale(0.8);
    }
}
