@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border antialiased;

    border-color: #d4d6da;
  }
  * {
    font-family: 'Montserrat', 'sans-serif';

    ::-webkit-scrollbar-track {
      @apply bg-white rounded-md;
    }

    ::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-indigo-200 rounded-md;
    }
  }
  body {
    @apply text-zinc-900;
  }
}

:root {
  --navigation-height: 60px;
  --footer-height: 45px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.min-h-screen-dvh {
  min-height: 100dvh;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .btn {
    @apply px-4 py-2 text-center transition duration-150 ease-in-out cursor-pointer select-none rounded-md font-semibold;
  }
  .btn:disabled,
  .btn[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
  .btn-primary {
    @apply text-indigo-900 bg-indigo-200 shadow-indigo-600/50 hover:bg-indigo-300;
  }
  .btn-secondary {
    @apply text-zinc-900 bg-zinc-100 shadow-zinc-600/50 hover:bg-zinc-50 border;
  }
  .btn-outline {
    @apply text-secondary-800 bg-zinc-50 border border-zinc-600/50 shadow-zinc-400/50 hover:bg-zinc-50;
  }
  .btn-outline-primary {
    @apply text-secondary-800 bg-transparent border border-secondary-800 shadow-indigo-400/50 hover:bg-secondary-50;
  }
  .btn-danger {
    @apply text-red-900 bg-red-200 shadow-red-600/50 hover:bg-red-300;
  }
  .btn-success {
    @apply text-green-900 bg-green-200 shadow-green-600/50 hover:bg-green-300;
  }
  .btn-flat {
    @apply text-secondary-800 bg-transparent hover:bg-secondary-100 border-none;
  }
}

em-emoji-picker {
  --category-icon-size: 18px;
  --font-family: Montserrat, 'sans-serif';

  --rgb-accent: 165, 180, 252;

  width: 100%;
  height: 400px;
  overflow: auto;
}

em-emoji {
  line-height: 0.9;
}
