@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border antialiased;
  }
  * {
    font-family: 'Montserrat', 'sans-serif';
  }
  body {
    @apply text-zinc-900 bg-zinc-100;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 text-center transition duration-150 ease-in-out cursor-pointer select-none rounded-md font-semibold;
  }
  .btn:disabled,
  .btn[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
  .btn-primary {
    @apply text-indigo-900 bg-indigo-200 shadow-indigo-600/50 hover:bg-indigo-300;
  }
  .btn-secondary {
    @apply text-zinc-900 bg-zinc-100 shadow-zinc-600/50 hover:bg-zinc-50 border;
  }
  .btn-outline {
    @apply text-indigo-900 bg-transparent border border-zinc-600/50 shadow-zinc-400/50 hover:bg-zinc-50;
  }
  .btn-outline-primary {
    @apply text-indigo-900 bg-transparent border border-indigo-900 shadow-indigo-400/50 hover:bg-indigo-50;
  }
  .btn-danger {
    @apply text-red-900 bg-red-200 shadow-red-600/50 hover:bg-red-300;
  }
  .btn-success {
    @apply text-green-900 bg-green-200 shadow-green-600/50 hover:bg-green-300;
  }
  .btn-flat {
    @apply text-indigo-900 bg-transparent hover:bg-indigo-100 border-none;
  }
}

em-emoji-picker {
  --category-icon-size: 18px;
  --font-family: Montserrat, 'sans-serif';

  --rgb-accent: 165, 180, 252;

  width: 100%;
  height: 400px;
  overflow: auto;
}

em-emoji {
  line-height: 0.9;
}
