@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border antialiased;
  }
  * {
    font-family: 'Montserrat', 'sans-serif';
  }
  body {
    @apply text-zinc-900 bg-zinc-100;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2 text-center border transition duration-150 ease-in-out cursor-pointer select-none rounded-lg font-medium;
  }
  .btn:disabled,
  .btn[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
  .btn-primary {
    @apply text-indigo-900 bg-indigo-300 shadow-indigo-600/50 hover:bg-indigo-200;
  }
  .btn-secondary {
    @apply text-zinc-900 bg-zinc-100 shadow-zinc-600/50 hover:bg-zinc-50;
  }
  .btn-outline {
    @apply text-zinc-900 bg-transparent border border-zinc-900 shadow-zinc-600/50 hover:bg-zinc-100;
  }
  .btn-outline-primary {
    @apply text-indigo-900 bg-transparent border border-indigo-900 shadow-indigo-400/50 hover:bg-indigo-50;
  }
  .btn-danger {
    @apply text-white bg-red-600 shadow-red-500/50 hover:bg-red-500;
  }
  .btn-success {
    @apply text-white bg-emerald-600 shadow-emerald-600/50 hover:bg-emerald-500;
  }
  .btn-flat {
    @apply text-indigo-900 bg-transparent hover:bg-indigo-50;
  }
}
